= content_tag_for :tr, classification, data: { :'classification-id' => classification.id } do
  %td= classification.variant.name
  %td
    = link_to "Remove", admin_classification_path(classification), method: :delete, remote: true